.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

div > p {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  white-space: pre-wrap;
}
